.about{
    background:#2C5680;
    height:50vh;
    text-align:center;

}


.about__title{
    font-size:2.5rem;
    font-weight: bold;
    color:#DEB959;
    padding:2rem 0;

}

.about__text{

    margin:0 auto;
    width: 75%;
    line-height: 1.75rem;
    font-size:1.25rem;
    color:rgb(212, 212, 212)
  
}