.area{
    height:100vh;
    display:flex;
    align-items:center; 
    justify-content: center;

}

.form{
    border: 2px solid black;
    padding:0 2rem;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    width:40%;
    height:80%;

   
}

.form__nome{

    flex-grow:5;


}

.form__anos{
    margin-left:1rem;
    flex-grow:1;
}



.form__init{
    display:flex;
    

}
.row{
    margin:.5rem;
    width:100%;

}


.inputs{
    width:100%;
    padding:.5rem 0;



}

.labels{
    margin:.5rem .25rem;    
    display:block;


}

.form__title{
    margin-bottom: 2rem;
    font-size:2rem;
    text-align:center;


}

.textarea{
    padding:3rem 0;


}

.button{
    background:rgb(15, 15, 92);
    color:white;
    padding:.5rem 3rem;
    font-size:1.2rem;
    border-radius:.2rem;
    margin-top:1rem;


}