.header{
    background-color:#85CDF5;
    padding: .25rem 0;
    position:sticky;
    top:0;
    z-index:1;
    
}

.header__ul{
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.header__img{
    width:4rem;
    
}

.header__link{
    text-decoration:none;
    font-size:1.25rem;
    font-weight:bold;
    color:black;

}

/*.sublinha{
    width:.1rem;
    height: .2rem;
    background:black;

}

.sublinha:hover{
    width:3rem;


}*/

.header__li{
    display: inline-block;

}

.header__li:after{
    display:block;
    content:'';
    border-bottom:2.5px solid black;
    transform:scaleX(0);
    transition: transform 250ms ease-in-out;
    
}

.header__li:hover:after{
    transform:scaleX(1);


}

.left:after{
    transform-origin:0 50%;
    
}

.right:after{
    transform-origin:100% 50%;
    
    
}