.values{
    background: #333333;
    display:flex;
    flex-direction:column;
    align-items:center;
    height: 90vh;
    justify-content:center;


}

.values__container{
    height:75%;
    width:75%;
    display:flex;
    align-items:center;
    justify-content: space-around;
  
}

.values__title{
    text-align: center; 
    font-size:2.7rem;
    font-weight: bold;
    color:#DEB959;
    
}

.value__img{
    padding:1rem;
    background:white;
    border-radius:50%;
    width:10rem;

}

.value{

    height:100%;
    display:flex;
    flex-direction: column;
    align-items:center;
    width:20%;
    text-align:center;
    margin:0 auto;
    justify-content: space-around;
    

}

.value__title{
    font-size: 1.5rem;
    color:white;
    font-weight: bold;

}

.value__text{
    color:white;
    line-height: 1.2rem;

}